.navbar {
  font-size: 18px;
}

.navbar-brand {
  font-size: 22px;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #0d6efd;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
